name: Contributor Check

on:
  pull_request:

jobs:
  # Checks that all commits contain sign-offs
  check-signed-commits:
    name: Check signed commits
    runs-on: ubuntu-latest
    steps:
      - uses: Naros/sign-off-playground/.github/actions/check-dco@main